.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
}
.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.header a > mat-icon {
  margin-right: 5px;
}

.header .logo {
  max-height: 32px;
}

.title-group {
  padding-left: 25px;
}

.title-group a i {
  padding-right: 5px;
}
